Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [35]:
import pandas as pd

orders = pd.read_csv("orders.csv")
orders.head()
orders.describe
orders.info

<bound method DataFrame.info of        order_date  pages_visited         order_id customer_id  \
0      2016/09/04              9  HTS-038040-0002      038040
1      2014/11/14             11  HTS-801797-0001      801797
2      2017/02/26             10  HTS-vft1eu-0003      vft1eu
3      2013/12/01             10  HTS-914324-0001      914324
4      2015/10/22             12  HTS-88ua9r-0001      88ua9r
...           ...            ...              ...         ...
26547  2016/11/19             13  HTS-n641x4-0001      n641x4
26548  2016/08/02              4  HTS-q0nm12-0001      q0nm12
26549  2017/03/09              6  HTS-sby0iz-0001      sby0iz
26550  2016/10/04             11  HTS-uz70x4-0001      uz70x4
26551  2016/12/16              9  HTS-xnbc22-0001      xnbc22

       tshirt_category  tshirt_price  tshirt_quantity
0      White T-Shirt M          20.0                1
1      White T-Shirt M          20.0                1
2      White T-Shirt F          18.0                3
3          Wh Tshirt F          18.0                1
4      White T-Shirt M          20.0                1
...                ...           ...              ...
26547  White T-Shirt M          20.0                1
26548  White T-Shirt M          20.0                1
26549  White T-Shirt M          20.0                1
26550           Hoodie          23.0                5
26551  Black T-Shirt M          19.0                3

[26552 rows x 7 columns]>

In [6]:
#1
orders['order_date']= pd.to_datetime(orders['order_date'], format='%Y/%m/%d')
orders.head(5)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1

In [10]:
#2  
print("Unique values and number of unique values:")
print(orders['tshirt_category'].unique(),"\nNumber of unique values: ", orders['tshirt_category'].nunique())

Unique values and number of unique values:
['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']
Number of unique values:  10

In [ ]:
#3

In [ ]:
#4

In [ ]:
#5

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [37]:
customers = pd.read_csv("customers.csv")
customers.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.