Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [53]:
import pandas as pd

orders = pd.read_csv("orders.csv")
orders.head()
orders.describe
orders.info

<bound method DataFrame.info of        order_date  pages_visited         order_id customer_id  \
0      2016/09/04              9  HTS-038040-0002      038040
1      2014/11/14             11  HTS-801797-0001      801797
2      2017/02/26             10  HTS-vft1eu-0003      vft1eu
3      2013/12/01             10  HTS-914324-0001      914324
4      2015/10/22             12  HTS-88ua9r-0001      88ua9r
...           ...            ...              ...         ...
26547  2016/11/19             13  HTS-n641x4-0001      n641x4
26548  2016/08/02              4  HTS-q0nm12-0001      q0nm12
26549  2017/03/09              6  HTS-sby0iz-0001      sby0iz
26550  2016/10/04             11  HTS-uz70x4-0001      uz70x4
26551  2016/12/16              9  HTS-xnbc22-0001      xnbc22

       tshirt_category  tshirt_price  tshirt_quantity
0      White T-Shirt M          20.0                1
1      White T-Shirt M          20.0                1
2      White T-Shirt F          18.0                3
3          Wh Tshirt F          18.0                1
4      White T-Shirt M          20.0                1
...                ...           ...              ...
26547  White T-Shirt M          20.0                1
26548  White T-Shirt M          20.0                1
26549  White T-Shirt M          20.0                1
26550           Hoodie          23.0                5
26551  Black T-Shirt M          19.0                3

[26552 rows x 7 columns]>

In [54]:
#1
orders['order_date']= pd.to_datetime(orders['order_date'], format='%Y/%m/%d')
orders.head(5)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1

In [55]:
#2  
print("Unique values and number of unique values:")
print(orders['tshirt_category'].unique(),"\nNumber of unique values: ", orders['tshirt_category'].nunique())

Unique values and number of unique values:
['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']
Number of unique values:  10

In [56]:
#3
orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x.lower())
orders['tshirt_category'] = orders['tshirt_category'].str.replace(" shirt", " t-shirt")
orders['tshirt_category'] = orders['tshirt_category'].str.replace(" tshirt", " t-shirt")
orders['tshirt_category'] = orders['tshirt_category'].str.replace("tennis t-shirt", "t-shirt")
orders['tshirt_category'] = orders['tshirt_category'].str.replace("wh ", "white ")
orders['tshirt_category'] = orders['tshirt_category'].str.replace("bl ", "black ")

orders1 = orders.copy()

orders['tshirt_category']

0        white t-shirt m
1        white t-shirt m
2        white t-shirt f
3        white t-shirt f
4        white t-shirt m
              ...
26547    white t-shirt m
26548    white t-shirt m
26549    white t-shirt m
26550             hoodie
26551    black t-shirt m
Name: tshirt_category, Length: 26552, dtype: object

In [57]:
#4
def my_split(x):
  split1 = x.split(' ')
  if split1[0] in ["white", "black"]:
    return x
  return f"None {x} None"

orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: my_split(x))
orders[['tshirt_colour', 'tshirt_type', 'tshirt_size']] = orders['tshirt_category'].str.split(' ', expand=True)
orders[['tshirt_colour', 'tshirt_type',   'tshirt_size']]

      tshirt_colour tshirt_type tshirt_size
0             white     t-shirt           m
1             white     t-shirt           m
2             white     t-shirt           f
3             white     t-shirt           f
4             white     t-shirt           m
...             ...         ...         ...
26547         white     t-shirt           m
26548         white     t-shirt           m
26549         white     t-shirt           m
26550          None      hoodie        None
26551         black     t-shirt           m

[26552 rows x 3 columns]

In [59]:
#5
mask = (orders['order_date'] > '2014-12-31') & (orders['order_date'] < '2016-8-2')
orders.loc[mask]

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,white t-shirt m,20.0,1,white,t-shirt,m
5,2016-01-15,9,HTS-061311-0003,061311,black t-shirt f,17.5,4,black,t-shirt,f
12,2015-11-24,15,HTS-je57lh-0001,je57lh,None hoodie None,23.0,3,None,hoodie,None
13,2015-10-10,8,HTS-252675-0002,252675,white t-shirt m,20.0,3,white,t-shirt,m
15,2015-11-29,15,HTS-heb26i-0001,heb26i,black t-shirt f,17.5,1,black,t-shirt,f
...,...,...,...,...,...,...,...,...,...,...
26460,2016-07-09,15,HTS-mu1tec-0001,mu1tec,white t-shirt f,18.0,1,white,t-shirt,f
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,black t-shirt f,17.5,1,black,t-shirt,f
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,white t-shirt f,18.0,1,white,t-shirt,f
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,None hoodie None,23.0,1,None,hoodie,None
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,white t-shirt m,20.0,4,white,t-shirt,m

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [60]:
customers = pd.read_csv("customers.csv")
customers.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [61]:
print("Rozmiar ramki orders (wiersze, kolumny):\n", orders.shape,"\n","Rozmiar ramki customers (wiersze, kolumny):\n", customers.shape)

Rozmiar ramki orders (wiersze, kolumny):
 (26552, 10)
 Rozmiar ramki customers (wiersze, kolumny):
 (18766, 6)

In [62]:
customers.rename(columns={"customerID": "customer_id"}, inplace=True)
customers.columns

Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [63]:
new_df = orders.merge(customers, on="customer_id", how="left")


# Wykorzystałem metodę left join, ponieważ zwróci nam ona wszystkie zamówienia 
# wraz z danymi klienta, jeśli takie istnieją. Jesteśmy skupieni na zamówieniach,
# więc nie chcemy tracić rekordów dla których nie ma danych klienta, co popiera 
# użycie tej metody. Sam brak danych o klientach również może nieść pewną 
# informację, więc tym bardziej użycie metody left join wydaje się być słuszne.
new_df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,white t-shirt m,20.0,1,white,t-shirt,m,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-11-14,11,HTS-801797-0001,801797,white t-shirt m,20.0,1,white,t-shirt,m,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,white t-shirt f,18.0,3,white,t-shirt,f,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
3,2013-12-01,10,HTS-914324-0001,914324,white t-shirt f,18.0,1,white,t-shirt,f,F,1959/10/22,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,51.99.199.27,False
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,white t-shirt m,20.0,1,white,t-shirt,m,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26804,2016-11-19,13,HTS-n641x4-0001,n641x4,white t-shirt m,20.0,1,white,t-shirt,m,NaN,NaN,NaN,NaN,NaN
26805,2016-08-02,4,HTS-q0nm12-0001,q0nm12,white t-shirt m,20.0,1,white,t-shirt,m,NaN,NaN,NaN,NaN,NaN
26806,2017-03-09,6,HTS-sby0iz-0001,sby0iz,white t-shirt m,20.0,1,white,t-shirt,m,NaN,NaN,NaN,NaN,NaN
26807,2016-10-04,11,HTS-uz70x4-0001,uz70x4,None hoodie None,23.0,5,None,hoodie,None,NaN,NaN,NaN,NaN,NaN
26808,2016-12-16,9,HTS-xnbc22-0001,xnbc22,black t-shirt m,19.0,3,black,t-shirt,m,NaN,NaN,NaN,NaN,NaN

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [64]:
new_df.to_csv('new_df.csv', index = False)